%% -*- erlang -*-

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{covertool, [
    {coverdata_files, [
        "ct.coverdata",
        "eunit.coverdata"
    ]}
]}.

{cover_excl_mods, []}.

{deps, [
    lager,
    {chatterbox, {git, "https://github.com/joedevivo/chatterbox.git", {branch, "master"}}}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    warn_untyped_records,
    debug_info,
    warnings_as_errors
]}.

{provider_hooks, [
    {pre, [
    ]}
]}.


{plugins, [
    covertool,
    rebar3_format,
    erlfmt
]}.

{format, [
    {files, [
        "src/**/*.erl",
        "include/*.hrl",
        "lib_http2_handler.app.src",
        "test/**/*.erl",
        "test/**/*.hrl",
        "config/sys.config",
        "config/sys.config.src"
    ]},
    {ignore, []},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{shell, [{apps, [lager]}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    %locals_not_used,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.


{relx, [
        {release, {"lib_http2_handler", "1.0.0"}, [lib_http2_handler]},
        {extended_start_script, true},
        {generate_start_script, true}
       ]}.


{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, export_all]},
        {deps, [
            cth_readable,
            meck,
            {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "main"}}},
            {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}


        ]}
    ]},
    {dev,
     [
      {relx, [
              {dev_mode, true},
              {include_erts, false}]
      }]}

]}.
